@model Cts.AppServices.Staff.Dto.StaffViewDto?
@if (Model is null)
{
    <span class="text-body-secondary fw-lighter">[Unassigned]</span>
}
else
{
    @Model.SortableFullName @if(!Model.Active)
    {
        <span class="text-body-secondary fw-lighter">[Inactive]</span>
    }
    @if(Model.Office is not null)
    {
        <br />
        @Model.Office.Name
    }
}
