@using Cts.Domain.ValueObjects
@model Cts.Domain.ValueObjects.IncompleteAddress?
@if (Model is null || Model == IncompleteAddress.EmptyAddress)
{
    <span class="text-body-secondary">[Not entered]</span>
}
else
{
    @Model.OneLine
}
