@model string?
@{
    var placeholder = ViewData.ContainsKey("Placeholder") ? (string)ViewData["Placeholder"]! : "[Not entered]";
}
@if (string.IsNullOrEmpty(Model))
{
    <span class="text-body-secondary fw-lighter">@placeholder</span>
}
else
{
    @Model
}
