@model string
@{
    var iconsFile = Url.Content("~/images/app-icons.svg");
}
@if (Model == ViewData["ValidatingSection"]!.ToString())
{
    <div asp-validation-summary="All" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi me-2" role="img" aria-label="Danger:">
            <use href="@iconsFile#app-icon-exclamation-triangle-fill"></use>
        </svg>
    </div>
}
else
{
    <div class="alert alert-danger validation-summary-valid d-flex align-items-center" role="alert" data-valmsg-summary="true">
        <svg class="bi me-2" role="img" aria-label="Danger:">
            <use href="@iconsFile#app-icon-exclamation-triangle-fill"></use>
        </svg>
        <ul>
            <li style="display:none"></li>
        </ul>
    </div>
}
