@{
    ViewData["Title"] = "Confirm Account";
}

<h1>@ViewData["Title"]</h1>

<p>
    You must confirm your account before you can log in or set your password. 
    Please check your email for a link to confirm your account.
</p>
