@{
    ViewData["Title"] = "Account Confirmation Failed";
}

<h1>@ViewData["Title"]</h1>

<p>
    The account confirmation link you used is invalid or expired. 
    Please use the <a asp-action="ForgotPassword">Password Reset</a> form to generate a new link.
</p>
