@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>

<p>
    Enter your email. If you have an account, a link will be sent to reset your password.
</p>

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="usa-form">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email" class="usa-input-error-message"></span>

    <button type="submit">Submit</button>
</form>

@section PageScripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
