@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Agency Login";
}

<h1>@ViewData["Title"]</h1>

<p>
    The Complaint Tracking System is a State of Georgia application.
    It is provided to conduct official State business and is available
    for use by State of Georgia employees only.
</p>

<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="usa-form">
    <label asp-for="Email"></label>
    <input asp-for="Email" autocomplete="username" />
    <span asp-validation-for="Email" class="usa-input-error-message"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" autocomplete="current-password" />
    <span asp-validation-for="Password" class="usa-input-error-message"></span>

    <input asp-for="RememberMe" />
    <label asp-for="RememberMe">
        @Html.DisplayNameFor(m => m.RememberMe)
    </label>

    <button type="submit">Log in</button>
</form>

<p>
    <a asp-action="ForgotPassword">Forgot your password?</a>
</p>

@section PageScripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
