@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>

<div class="usa-grid-full">
    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="usa-width-one-half">
        <input asp-for="Code" type="hidden" />

        <label asp-for="Email"></label>
        <input asp-for="Email" autocomplete="username" />
        <span asp-validation-for="Email" class="usa-input-error-message"></span>

        <label asp-for="Password"></label>
        <input asp-for="Password" autocomplete="new-password" aria-describedby="password-constraints" />
        <span asp-validation-for="Password" class="usa-input-error-message"></span>

        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" autocomplete="new-password" />
        <span asp-validation-for="ConfirmPassword" class="usa-input-error-message"></span>

        <div class="gaepd-buttonrow">
            <button type="submit">Reset password</button>
            <a asp-action="Index" asp-controller="Home" class="usa-button usa-button-outline">Cancel</a>
        </div>
    </form>
    <div class="usa-width-one-half">
        @await Html.PartialAsync("_PasswordRequirementsPartial")
    </div>
</div>

@section PageScripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
