@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set password";
}

<h1>@ViewData["Title"]</h1>

<p>Thank you for confirming your email. Set the password for your account.</p>

<div class="usa-grid-full">
    <form asp-controller="Account" asp-action="SetPassword" method="post" class="usa-width-one-half">
        <input asp-for="Code" type="hidden" />
        <input asp-for="UserId" type="hidden" />

        <label asp-for="Password"></label>
        <input asp-for="Password" autocomplete="new-password" aria-describedby="password-constraints" />
        <span asp-validation-for="Password" class="usa-input-error-message"></span>

        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" autocomplete="new-password" />
        <span asp-validation-for="ConfirmPassword" class="usa-input-error-message"></span>

        <button type="submit">Set password</button>
    </form>
    <div class="usa-width-one-half">
        @await Html.PartialAsync("_PasswordRequirementsPartial")
    </div>
</div>

@section PageScripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
