@page "{id:int}"
@using Cts.WebApp.Pages.Shared.EditorTemplates
@model RestoreModel

@{
    ViewData["Title"] = $"Restore Complaint ID {Model.Id}";
    ViewData["NoAnchors"] = "True";
}

<h1>
    <em>Confirm</em> @ViewData["Title"]
</h1>

<div class="p-3 border rounded-3 bg-dark-subtle text-dark-emphasis">
    <p class="lead text-warning-emphasis font-weight-medium">
        Are you sure you want to restore this deleted Complaint?
    </p>

    <partial name="_ComplaintSummaryPartial" model="Model.ComplaintView" />

    <form method="post">
        <div class="mb-3">
            @Html.EditorFor(model => model.ComplaintClosure.Comment, EditorTemplate.Textarea, new { Rows = 3 })
        </div>
        <div class="mt-3 mb-1">
            <button type="submit" class="btn btn-warning col-5 col-sm-3 col-lg-2 me-2">Restore</button>
            <a asp-page="Details" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Cancel</a>
        </div>
        <input asp-for="ComplaintClosure.ComplaintId" type="hidden" />
    </form>
</div>
