@using Cts.WebApp.Platform.PageModelHelpers
@model object?
@{
    var items = (IEnumerable<SelectListItem>)ViewData["Items"]!;
    var placeholder = ViewData.ContainsKey("Placeholder") ? (string)ViewData["Placeholder"]! : SelectOptions.SelectTextRequired;
}

<div class="form-floating">
    <select asp-for="@__model" asp-items="items" class="form-select">
        <option value="">@placeholder</option>
    </select>
    <label asp-for="@__model" class="form-label"></label>
    <span asp-validation-for="@__model" class="invalid-feedback"></span>
</div>
