@page "{handler?}"
@model ExportModel
@{
    if (Model.Downloading)
    {
        ViewData["Title"] = "Downloading CTS Data Export";
    }
    else
    {
        ViewData["Title"] = "CTS Data Export";
    }
}

<h1>@ViewData["Title"]</h1>

@if (Model.Downloading)
{
    <p>Your download should start automatically. Please be patient; it may take several minutes.</p>
    <p>If the download fails, <a asp-page="Export">click here to try again</a>.</p>
    <script asp-add-content-to-csp>window.location = "Archive";</script>
}
else
{
    <p>
        This tool exports data directly from the Complaint Tracking System database. The data are current (within 15 hours)
        but exclude some information and records not subject to disclosure.
    </p>

    <p>The tool downloads a ZIP archive containing three CSV files as follows:</p>

    <ol>
        <li>
            <p><b>Open Records:</b> Limited information provided about complaints for which EPD’s investigation has not concluded.</p>
        </li>
        <li>
            <p><b>Closed Records:</b> More complete information provided about complaints for which EPD’s investigation has concluded.</p>
        </li>
        <li>
            <p><b>Complaint Actions:</b> Investigative actions taken by EPD for complaints for which EPD’s investigation has concluded.</p>
        </li>
    </ol>

    <p>Some records have been further modified as follows:</p>

    <ul>
        <li>
            <p>Personally identifiable information, including email addresses and telephone numbers, has been removed to the extent possible.</p>
        </li>
        <li>
            <p>
                Fields longer than 32,600 characters have been truncated to accommodate
                <a href="https://support.office.com/en-us/article/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3">limitations in Microsoft Excel</a>.
            </p>
        </li>
    </ul>

    <form asp-page-handler="Downloading" class="d-flex align-items-baseline my-4">
        <button class="btn btn-lg btn-primary me-3">Download CTS Data</button>
        <em>Please be patient; it may take several minutes.</em>
    </form>

    <h2 id="record-count-table-description" class="h4">Expected number of records in each file</h2>
    <table class="table table-sm table-borderless w-auto" aria-describedby="record-count-table-description">
        <tbody>
        @foreach (var record in Model.RecordsCounts)
        {
            <tr>
                <th scope="row">@record.Table</th>
                <td class="text-end ps-3">@record.Count.ToString(format: "N0")</td>
            </tr>
        }
        </tbody>
    </table>
}
