@using ComplaintTracking.AlertMessages
@{
    ViewData["AlertMessage"] ??= TempData.GetAlertFromSession();
}
<!DOCTYPE html>
<html lang="en-us" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@StringFunctions.ConcatNonEmptyStrings(new[] { ViewData["Title"].ToString(), "Georgia EPD Complaint Tracking System" }, " · ")</title>
    @await Html.PartialAsync("_FaviconPartial")
    @await Html.PartialAsync("_StandardStylesheetsPartial")
    @await RenderSectionAsync("PageStyles", required: false)
    <partial name="_RaygunScriptsPartial" />
    <script>(function (e, t, n) { var r = e.querySelectorAll("html")[0]; r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2") })(document, window, 0);</script>
</head>
<body>
<environment exclude="Production">
    <div class="banner-test-site">
        Test Site
    </div>
</environment>

<div class="usa-grid usa-section banner">
    <h3>Notice</h3>
    <p>There will be a scheduled major system maintenance outage for all EPD applications from 2 PM Friday, 12/15/2023 until 6 AM Monday, 12/18/2023.</p>
    <p>Please refer to the <a href="https://status.gaepd.org/" target="_blank" rel="noopener">EPD-IT status page</a> for updates.</p>
</div>
    
<a class="usa-skipnav" href="#main-content">Skip to main content</a>

@if (ViewData["NoHeader"] == null)
{
    <header class="usa-header usa-header-basic" role="banner">
        <div class="usa-nav-container">
            <div class="usa-navbar gaepd-navbar">
                @if (User.Identity is not null && User.Identity.IsAuthenticated)
                {
                    <button class="usa-menu-btn">Menu</button>
                }
                <div class="usa-logo gaepd-logo" id="logo">
                    <em class="usa-logo-text">
                        @if (ViewData["Public"] == null)
                        {
                            <a accesskey="1" title="Home" aria-label="Home" class="gaepd-logo-link" asp-controller="Home" asp-action="Index">
                                <img src="~/assets/logos/epd-icon.svg" alt="" />
                                <environment names="Development">
                                    <span class="usa-label-big gaepd-label-dev">DEV</span>
                                </environment>
                                <environment names="Staging">
                                    <span class="usa-label-big gaepd-label-dev gaepd-label-uat">Test</span>
                                </environment>
                                Complaint Tracking System
                            </a>
                        }
                        else
                        {
                            <a accesskey="1" title="Public Portal" aria-label="Public Portal" class="gaepd-logo-link" asp-controller="Public" asp-action="Index">
                                <img src="~/assets/logos/epd-icon.svg" alt="" />
                                <environment names="Development">
                                    <span class="usa-label-big gaepd-label-dev">DEV</span>
                                </environment>
                                <environment names="Staging">
                                    <span class="usa-label-big gaepd-label-dev gaepd-label-uat">Test</span>
                                </environment>
                                Complaint Tracking System Public Portal
                            </a>
                        }
                    </em>
                </div>
            </div>
            @await Html.PartialAsync("_MenuPartial")
        </div>
    </header>
}

<main class="usa-grid usa-section usa-content" id="main-content">
    @if (ViewData["AlertMessage"] != null)
    {
        @await Html.PartialAsync("_AlertPartial", ViewData["AlertMessage"])
    }
    @RenderBody()
</main>

<div class="usa-footer usa-footer-medium" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
        <a href="#" class="no-visited">Return to top</a>
    </div>
</div>

@await Html.PartialAsync("_StandardScriptsPartial")
@await RenderSectionAsync("PageScripts", required: false)
</body>
</html>