<div class="usa-alert usa-alert-info">
    <div class="usa-alert-body">
        <div class="usa-alert-text">
            <p>Passwords must:</p>
            <ul>
                <li>Be at least 6 characters long, but no greater than 100 characters.</li>
                <li>Contain at least one uppercase character (A&ndash;Z).</li>
                <li>Contain at least one digit (0&ndash;9).</li>
                <li>Contain at least one symbolic character (!, @@, #, $, etc.).</li>
            </ul>
        </div>
    </div>
</div>
