@{
    ViewData["Title"] = "";
    ViewData["NoHeader"] = true;
}

<div class="usa-grid">
    <div class="usa-alert usa-alert-warning">
        <div class="usa-alert-body">
            <p class="usa-alert-text">
                There will be a scheduled maintenance outage of this web site from Wednesday afternoon 7/8/2020 at 4&nbsp;PM
                until Thursday morning 7/9/2020 at 6&nbsp;AM. Thank you for your patience!
            </p>
        </div>
    </div>
</div>

<h1>Georgia EPD Complaint Tracking System</h1>

<section class="usa-section usa-section-light usa-grid-full">
    <div class="usa-grid">
        <div class="usa-width-one-half">
            <img class="usa-width-one-third" src="~/assets/logos/epd-icon.svg" alt="Georgia EPD Logo">
            <div class="usa-width-two-thirds">
                <h3>
                    <a asp-controller="Public" asp-action="Index" class="usa-button usa-button-big">Public Inquiry Portal</a>
                </h3>
                <p>Search and review publicly available complaint information.</p>
                <p>
                    The Complaint Tracking System Public Inquiry Portal includes information for all complaints
                    received by EPD from third parties after January 1, 1998, for which EPD’s investigation
                    of the complaint has concluded.
                </p>
            </div>
        </div>
        <div class="usa-width-one-half">
            <img class="usa-width-one-third" src="~/assets/logos/Seal_of_Georgia_white.svg" alt="Georgia State Seal">
            <div class="usa-width-two-thirds">
                <h3>
                    <a asp-controller="Account" asp-action="Login" class="usa-button usa-button-big">Employee Access Portal</a>
                </h3>
                <p>CTS administration for State of Georgia employees.</p>
            </div>
        </div>
    </div>
</section>
