@model string
@{
    ViewData["Title"] = "Downloading Search Results";
}
<h1>@ViewData["Title"]</h1>

@if (string.IsNullOrEmpty(Model))
{
    <p>There was an error generating the download.</p>
}
else
{
    <p>Your download should start automatically. Please be patient; it may take several minutes.</p>
    <p>If the download fails, <a asp-controller="Export" asp-action="Index">click here to try again</a>.</p>
    <iframe class="display-none" src="@Model"></iframe>
}
