/* Additional site-wide styles */

body {
    overflow-x: auto;
}

.gaepd-preserve-linebreaks {
    word-break: break-word;
}

a.no-visited, .no-visited a {
    color: #0071bc;
}

    a.no-visited:hover, a.no-visited:active,
    .no-visited a:hover, .no-visited a:active {
        color: #205493;
    }

.no-visited .gaepd-pagination-inner a:hover,
.no-visited .gaepd-pagination-inner a:focus,
.no-visited .gaepd-pagination-active,
.no-visited .gaepd-pagination-active:visited {
    background: #0071bc;
    color: #ffffff;
}

/* Menu fix */
.usa-nav-primary > li {
    position: relative;
}

.usa-nav-submenu {
    right: 0;
}

@media screen and (min-width: 951px) {
    .usa-nav {
        display: inline-block;
        float: none;
    }

    .usa-nav-container {
        display: grid;
        grid-template-columns: 1fr auto;
    }
}
