/* Additional site-wide styles */

body {
    overflow-x: auto;
}

.gaepd-preserve-linebreaks {
    word-break: break-word;
}

.gaepd-text-nowrap {
    white-space: nowrap !important;
}

a.no-visited, .no-visited a {
    color: #0071bc;
}

a.no-visited:hover, a.no-visited:active,
.no-visited a:hover, .no-visited a:active {
    color: #205493;
}

.no-visited .gaepd-pagination-inner a:hover,
.no-visited .gaepd-pagination-inner a:focus,
.no-visited .gaepd-pagination-active,
.no-visited .gaepd-pagination-active:visited {
    background: #0071bc;
    color: #ffffff;
}

/* Table fix */

.gaepd-table-rowheadings th {
    width: 25rem;
}

/* Menu fix */
.usa-nav-primary > li {
    position: relative;
}

.usa-nav-submenu {
    right: 0;
}

@media screen and (min-width: 951px) {
    .usa-nav {
        display: inline-block;
        float: none;
    }

    .usa-nav-container {
        display: grid;
        grid-template-columns: 1fr auto;
    }
}

/* Support page */
details summary { cursor: pointer; }
summary { display: list-item; }
summary h2 { display: inline-block; margin-top: .5em; }
summary::marker { font-size: 3rem; }

/* Text utilities */
.display-none {display: none;}
.display-inline-block {display: inline-block;}
.float-right {float: right;}
.pt3 {padding-top: 3rem;}
.pb0 {padding-bottom: 0;}
.mt0 {margin-top: 0;}

/* Dev label */
.gaepd-label-dev {
    text-transform: none;
    background: linear-gradient(120deg, #1f005c, #7a005c, #b90048, #de3825, #e68100, #94ff36, #94ff36);
    background-size: 1800% 1800%;
    animation: rainbow 10s ease infinite;
}

.gaepd-label-uat {
    background: #ff7800;
    animation: none;
}

@keyframes rainbow {
    0% {
        background-position: 0 20%
    }

    50% {
        background-position: 100% 20%
    }

    100% {
        background-position: 0 20%
    }
}

/* Test site banner */

.banner-test-site {
    position: sticky;
    top: 0;
    z-index: 1020;
    opacity: .9;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    font-family: system-ui;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4px white;
    background: repeating-linear-gradient(135deg, #f6da52bb, #f6da52bb 10px, #ffef80bb 10px, #ffef80bb 20px);
}

@media print {
    .usa-search,
    .gaepd-form-fileupload {
        display: none;
    }

    body {
        font-size: 12px;
        color: #000;
    }

    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 13px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }

    a.usa-button {
        margin: 0;
        padding: 0;
        color: #000;
        width: auto;
    }

    .gaepd-table-compact th, .gaepd-table-compact td {
        padding: 0.1em 1em 0.1em 0;
        text-align: left;
    }

    .gaepd-table-compact {
        margin: 0.5em 0;
        font-size: 11px;
        width: 100%;
    }

    .banner-test-site {
        position: static;
        text-shadow: none;
        border: 1px solid;
    }

    .banner-test-site::after {
        content: "—Not for public distribution";
    }
}
