@model RegisterUserViewModel
@{
    ViewData["Title"] = "Register a New User";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Users" asp-action="Register" method="post" class="usa-form">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName" class="usa-input-error-message"></span>

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName" class="usa-input-error-message"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email" class="usa-input-error-message"></span>

    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <span asp-validation-for="Phone" class="usa-input-error-message"></span>

    <label asp-for="OfficeId"></label>
    <select asp-for="OfficeId" asp-items="Model.OfficeSelectList">
        <option value="">@CTS.SelectOfficeText</option>
    </select>
    <span asp-validation-for="OfficeId" class="usa-input-error-message"></span>

    <fieldset class="usa-fieldset-inputs">
        <legend>CTS Roles</legend>
        <p>View a detailed description of <a href="~/Users/Roles#cts-roles" target="_blank">user roles and capabilities</a>.</p>

        <ul class="usa-unstyled-list">
            @if (Model.CurrentUserIsDivisionManager)
            {
                <li>
                    <p>
                        <input asp-for="IsDivisionManager" />
                        <label asp-for="IsDivisionManager"></label>
                        <span>
                            Can register and edit all users & roles.
                            Can manage all complaints.
                            Can delete and restore complaints and complaint actions.
                            Can edit offices, master users, and lookup tables.
                        </span>
                    </p>
                </li>
            }
            <li>
                <p>
                    <input asp-for="IsManager" />
                    <label asp-for="IsManager"></label>
                    <span>
                        Can manage complaints for all users assigned to the same office.
                        Can delete and restore complaint actions.
                    </span>
                </p>
            </li>
            <li>
                <p>
                    <input asp-for="IsUserAdmin" />
                    <label asp-for="IsUserAdmin"></label>
                    <span>Can register and edit all users & roles, excluding the Division Manager role.</span>
                </p>
            </li>
            <li>
                <p>
                    <input asp-for="IsDataExporter" />
                    <label asp-for="IsDataExporter"></label>
                    <span>Can generate a ZIP archive of complaints.</span>
                </p>
            </li>
        </ul>
    </fieldset>

    <div class="gaepd-buttonrow">
        <button type="submit">Register</button>
        <a asp-controller="Users" asp-action="Index" class="usa-button usa-button-outline">Cancel</a>
    </div>
</form>

@section PageScripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
