@page
@model ThrowErrorModel
@{
    ViewData["Title"] = "Error Test";
}
<h1 class="text-danger-emphasis">@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(Model.ShortCode))
{
    <p>Error code: @Model.ShortCode</p>
}
