@page
@model LoginModel
@{
    ViewData["Title"] = "Agency Login";
}

<h1>@ViewData["Title"]</h1>
<p>
    The Complaint Tracking System administration site is a State of Georgia application.
    It is provided for conducting official State business and is available for use by
    State of Georgia employees only.
</p>

<div class="p-5 bg-light-subtle border rounded-3 mt-5 mb-5">
    <h1 class="display-4">Sign in using your work account</h1>

    <form id="external-account" asp-page="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi me-2" role="img" aria-label="Danger:">
                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-exclamation-triangle-fill"></use>
            </svg>
        </div>
        <button type="submit" class="btn btn-lg btn-outline-primary btn-img my-3 py-3 px-4" title="Sign in using your work account">
            <img src="~/images/ms-symbol.svg" alt="" /> Sign in
        </button>
    </form>
</div>
