@page
@model IndexModel
@{
    ViewData["Title"] = "Staff Dashboard";
}

<h1>@ViewData["Title"]</h1>

<div class="card mt-4">
    <div class="card-header">
        <h2 class="h5">Open Work</h2>
    </div>
    <div class="card-body">
        <p>
            <em>None.</em>
        </p>
    </div>
</div>
