@page
@model DashboardIndexModel
@{
    ViewData["Title"] = "Staff Dashboard";
}

<h1>@ViewData["Title"]</h1>

@if (Model.IsStaff)
{
    <div class="container">
        <div class="row">
            <div class="p-3 rounded-3 bg-light-subtle border mt-3 col-lg-9">
                <h2 class="h3 mb-3">Find by Complaint ID</h2>
                <form method="post" class="row row-cols-sm-auto align-items-center" role="search">
                    <div class="col-12">
                        <label class="visually-hidden" asp-for="FindId">Complaint ID</label>
                        <div class="input-group input-group-lg">
                            <input asp-for="FindId" class="form-control" type="search" placeholder="Complaint ID" aria-label="Search" />
                            <button class="btn btn-primary" type="submit">View</button>
                        </div>
                    </div>
                    <span asp-validation-for="FindId" class="text-danger-emphasis"></span>
                </form>
            </div>
        </div>
    </div>

    <partial name="Shared/_DashboardCardPartial" model="Model.MyNewComplaints" />
    <partial name="Shared/_DashboardCardPartial" model="Model.MyOpenComplaints" />

    @if (Model.IsManager)
    {
        <h2 class="mt-4">Management Dashboard</h2>
        <partial name="Shared/_DashboardCardPartial" model="Model.MgrReviewPending" />
        <partial name="Shared/_DashboardCardPartial" model="Model.MgrUnassignedComplaints" />
        <partial name="Shared/_DashboardCardPartial" model="Model.MgrUnacceptedComplaints" />
    }

    @if (Model.IsAssignor)
    {
        <h2 class="mt-4">Assignor Dashboard</h2>
        foreach (var card in Model.AssignorUnassignedComplaints)
        {
            <partial name="Shared/_DashboardCardPartial" model="card" />
        }
    }
}
else
{
    <p>See your manager to discuss CTS access if needed.</p>
}
