@page "{statusCode:int?}"
@model ErrorModel
@if (Model.Status == StatusCodes.Status404NotFound)
{
    ViewData["Title"] = "Not Found";
    <h1 class="text-danger-emphasis">@ViewData["Title"]</h1>
    <p class="lead">The page you're looking for could not be found.</p>
}
else
{
    ViewData["Title"] = "Error";
    <h1 class="text-danger-emphasis">@ViewData["Title"]</h1>
    <p class="lead">An error occurred while processing your request.</p>
}

<p>
    If you need assistance related to this error, please see the <a asp-page="/Support">support page</a>.
</p>
