@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!Model.ShowDashboard)
{
    <h1>Home Page</h1>
    <p>See your manager to request access to the application.</p>
}
else
{
    <h1>Dashboard</h1>

    <div class="card mt-4">
        <div class="card-header">
            <h2 class="h5">Open Work</h2>
        </div>
        <div class="card-body">
            <p>
                <em>None.</em>
            </p>
        </div>
    </div>
}

<div class="card mt-4">
    <div class="card-header">
        <h2 class="h5">Some helpful development links</h2>
    </div>
    <div class="card-body">
        <h3>Public pages</h3>
        <ul>
            <li>
                <a asp-page="/Public/Index">Public complaint search</a>
                <ul>
                    <li>
                        <a asp-page="/Public/Complaints/Index" asp-route-id="1">Closed complaint</a>
                    </li>
                    <li>
                        <a asp-page="/Public/Complaints/Index" asp-route-id="2">Open complaint (404)</a>
                    </li>
                    <li>
                        <a asp-page="/Public/Complaints/Index" asp-route-id="3">Another closed complaint</a>
                    </li>
                    <li>
                        <a asp-page="/Public/Complaints/Index" asp-route-id="4">Non-existent complaint ID (404)</a>
                    </li>
                    <li>
                        <a asp-page="/Public/Complaints/Index" asp-route-id="5">Deleted complaint (404)</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="api-docs/">API docs</a>
            </li>
        </ul>

        <h3>Staff pages</h3>
        <ul>
            <li>
                <a asp-page="/Staff/Complaints/Index">Complaint search</a>
                <ul>
                    <li>
                        <a asp-page="/Staff/Complaints/Details" asp-route-id="1">Closed complaint</a>
                    </li>
                    <li>
                        <a asp-page="/Staff/Complaints/Details" asp-route-id="2">Open complaint</a>
                    </li>
                    <li>
                        <a asp-page="/Staff/Complaints/Details" asp-route-id="3">Another closed complaint</a>
                    </li>
                    <li>
                        <a asp-page="/Staff/Complaints/Details" asp-route-id="4">Non-existent complaint ID (404)</a>
                    </li>
                    <li>
                        <a asp-page="/Staff/Complaints/Details" asp-route-id="5">Deleted complaint</a>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-page="/Staff/Complaints/Add">Add new complaint</a>
            </li>
            <li>
                <a asp-page="/Account/Index">Account page</a>
            </li>
            <li>
                <a asp-page="/Admin/Users/Index">All users</a>
            </li>
            <li>
                <a asp-page="/Admin/Maintenance/Index">Site maintenance</a>
            </li>
        </ul>
    </div>
</div>
