@page
@using Cts.WebApp.Platform.Settings
@model SupportModel
@{
    ViewData["Title"] = "Support";
}

<h1>Complaint Tracking System @ViewData["Title"]</h1>

<p>
    For general support and policy questions, contact
    <a href="mailto:@AppSettings.SupportSettings.CustomerSupportEmail">@AppSettings.SupportSettings.CustomerSupportEmail</a>.
</p>

@if (Model.ActiveUser)
{
    <ul>
        <li>
            <p>
                <a href="~/static/Complaint-Tracking-System-Instructions.pdf" target="_blank">General Instructions (<abbr>PDF</abbr>)</a>
            </p>
        </li>
        <li>
            <p>
                <a href="~/static/Complaint-Attachments-Policy.pdf" target="_blank">Complaint Attachments Policy (<abbr>PDF</abbr>)</a>
            </p>
        </li>
    </ul>
    <p>For technical support, contact <a href="@AppSettings.SupportSettings.TechnicalSupportSite" target="_blank" rel="noopener">EPD IT support</a>.</p>
}

<div class="callout">
    <small>
        The CTS was developed by Georgia EPD-IT.<br/>
        @if (Model.Version is not null)
        {
            @:Current version: <em>@Model.Version</em>.<br/>
        }
        Source code available on
        <a href="https://github.com/gaepdit/complaint-tracking" target="_blank" rel="noopener" class="text-decoration-hover link-offset-2">GitHub</a>.
    </small>
</div>
