@{
    ViewData["Title"] = "Reports";
}
<h1>Status Reports</h1>

<ul>
    <li><a asp-controller="Reports" asp-action="DaysSinceLastAction">Days Since Last Action</a> *</li>
    <li><a asp-controller="Reports" asp-action="AllComplaintsReceivedByDate">All Complaints Received By Date</a></li>
    <li><a asp-controller="Reports" asp-action="ComplaintsByStaff">Complaint Status/Number of Complaints By Staff</a> *</li>
    <li><a asp-controller="Reports" asp-action="ComplaintsByCounty">Complaint Status/Number of Complaints By County</a> *</li>
    <li><a asp-controller="Reports" asp-action="DaysToClosureByOffice">Days to Closure By Office</a> *</li>
    <li><a asp-controller="Reports" asp-action="DaysToClosureByStaff">Days to Closure By Staff</a> *</li>
    <li><a asp-controller="Reports" asp-action="DaysToFollowUpByStaff">Days to Follow Up By Staff</a> *</li>
    <li><a asp-controller="Reports" asp-action="UnacceptedComplaints">Not Accepted Complaints By Office</a></li>
    <li><a asp-controller="Reports" asp-action="UnresolvedComplaints">Unresolved Complaints By Office</a></li>
</ul>

<p><em>* Report may load slowly.</em></p>

<h1>Error Reports</h1>

<ul>
    <li><a asp-controller="Reports" asp-action="ComplaintsAssignedToInactiveUsers">Open complaints assigned to inactive users</a></li>
    <li><a asp-controller="Reports" asp-action="UsersAssignedToInactiveOffices">Active users assigned to inactive offices</a></li>
    <li><a asp-controller="Reports" asp-action="UnconfirmedUserAccounts">Active users with unconfirmed accounts</a></li>
</ul>


@if (User?.Identity != null && User.Identity.IsAuthenticated && User.IsInRole(nameof(CtsRole.DataExport)))
{
    <h1>Data Export</h1>

    <ul>
        <li><a asp-controller="Export" asp-action="Index">Export CTS data</a></li>
    </ul>
}