@model CreateActionTypeViewModel

@{
    ViewData["Title"] = "Create New Complaint Action Type";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" class="usa-form">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name" class="usa-input-error-message"></span>

    <div class="gaepd-buttonrow">
        <button type="submit">Create</button>
        <a asp-action="Index" class="usa-button usa-button-outline">Cancel</a>
    </div>
</form>
