@model CreateOfficeViewModel

@{
    ViewData["Title"] = "Create New Office";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" class="usa-form">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name" class="usa-input-error-message"></span>

    <label asp-for="MasterUserId"></label>
    <select asp-for="MasterUserId" asp-items="Model.UsersSelectList">
        <option value="">@CTS.SelectUserText</option>
    </select>
    <span asp-validation-for="MasterUserId" class="usa-input-error-message"></span>

    <div class="gaepd-buttonrow">
        <button type="submit">Create</button>
        <a asp-action="Index" class="usa-button usa-button-outline">Cancel</a>
    </div>
</form>
