@model PublicSearchViewModel

@{
    ViewData["Public"] = "Public";
    ViewData["Title"] = $"Complaint ID {Model.FindComplaint}";
}

<h1 id="details">
    @ViewData["Title"]
</h1>

<p>
    A Complaint with that ID could not be found or is not currently publicly available. 
    (Complaints are only made available on this site after EPD’s investigation has concluded.) 
    Try searching again:
</p>

<form class="usa-search usa-search-big" asp-action="Index" asp-controller="Public">
    <div role="search">
        <label class="usa-sr-only" asp-for="FindComplaint">View Complaint ID</label>
        <input asp-for="FindComplaint" type="search" placeholder="Complaint ID" class="gaepd-input-medium-large" />
        <button type="submit"><span class="usa-search-submit-text">View</span></button>
    </div>
</form>
