@page "{id:Guid?}"
@model Edit

@{
    ViewData["Title"] = $"Edit {Edit.ThisOption.SingularName}: {Model.OriginalName}";
}

<h1>
    Edit @Edit.ThisOption.SingularName: <small class="text-muted">@Model.OriginalName</small>
    @if (!Model.Item.Active)
    {
        <span class="text-muted">(Removed)</span>
    }
</h1>

<div class="container bg-light py-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-3">
                <label asp-for="Item.Name">Name <span class="text-danger">*</span></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-3">
                <input asp-for="Item.Active" />
                <label asp-for="Item.Active" class="form-check-label"></label>
            </div>
        </div>
        <hr />
        <p class="text-danger">* denotes a required field</p>
        <input asp-for="Item.Id" type="hidden" /><input asp-for="OriginalName" />
        <button type="submit" class="btn btn-primary col-sm-3 mb-3 mb-sm-0">Save Changes</button>
        <a asp-page="Index" class="btn btn-outline-secondary col-md-2">Cancel</a>
    </form>
</div>

@* @section ScriptFiles *@
@* { *@
@*     <script src="~/dist/formValidation.bundle.js" asp-append-version="true" defer></script> *@
@* } *@