@{
    ViewData["Title"] = "Site Maintenance";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li><a asp-controller="Offices" asp-action="Index">Offices/Master Users</a></li>
    <li><a asp-controller="ActionTypes" asp-action="Index">Complaint Action Types</a></li>
    <li><a asp-controller="Concerns" asp-action="Index">Complaint Areas of Concern</a></li>
</ul>
