@page
@using ComplaintTracking.Localization
@using ComplaintTracking.Web.Pages.Maintenance.ActionTypes
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<ComplaintTrackingResource> L

@{
    ViewData["Title"] = @L["Title:Maintenance"] + " : " + @L["Title:ActionTypes"];
}

@section scripts{
    <abp-script src="/Pages/Maintenance/ActionTypes/Index.js" />
}

<abp-card>
    <abp-card-header>
        <h2>@ViewData["Title"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ActionTypesTable"></abp-table>
    </abp-card-body>
</abp-card>
